
/* Pricing Section */
/* General Styles */

/* Center the Pricing Section */
.pricing {
    background-color: #0c0b0b;
    padding: 0 20px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto; /* Centers the container */
    display: block;
    
}

.pricing h1 {
    font-size: 36px;
    color: #cc3e34;
    text-align: center;    
    animation: fadeInUp 1s ease-in-out;
}


/* Hover Effect for h3 */
.pricing-section .service-type h3:hover {
    color: #2980b9; /* Darker blue on hover */
    transform: translateY(-3px); /* Slight upward movement on hover */
}

/* Specific Styles for Software Development Section */
#software-development .service-type h3 {
    color: #3498db; /* Blue color for consistency with the section border */
}


.pricing p {
    font-size: 18px;
    color: #d1bcbc;
    text-align: center;
    margin-bottom: 20px;
}

/* Contact Sales Button */
#contact-sales-btn {
    display: block;
    margin: 0 auto 40px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#contact-sales-btn:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}












/* Pricing Sections */

/* Pricing Sections */
/* Container styling for pricing section */
#pricing-section {
    margin-bottom: 30px; /* Space between pricing sections */
}

/* Specific table styling for each service type */
#pricing-section .pricing-details table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide overflow */
}

/* Styling table headers */
#pricing-section .pricing-details th {
    background-color: #3498db;
    color: #eee5e5;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #777575;
    font-weight: bold;
}

/* Styling table cells */
#pricing-section .pricing-details td {
    padding: 10px;
    border-bottom: 1px solid #585656;
    color: #ada5a5;
}

/* Unique styling for table rows */
#pricing-section .pricing-details tr:nth-child(even) {
    background-color: transparent;
}

/* Table caption styling */
#pricing-section .pricing-details caption {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #007bff; /* Different color for captions */
}

/* Heading and paragraph styling */
#pricing-section h2 {
    color: #007bff; /* Blue color for section headings */
    font-size: 1.5em;
    margin-bottom: 10px;
    border-top: 2px solid #3498db; /* Underline effect */
    padding-top: 4px;
}

#pricing-section p {
    color: #cec9c9; /* Dark color for paragraphs */
    line-height: 1.6;
    margin: 5px 0;
}

/* Text alignment for pricing details */
#pricing-section .pricing-details p {
    text-align: left;
}











/* Pricing Models Table */
#models {    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#models table {
    width: 100%;
    border-collapse: collapse;
    animation: fadeIn 1s ease-in-out;
}

#models th, #models td {
    padding: 15px;
    text-align: left;
}

#models thead {
    background-color: #3498db;
    color: #fff;
}

#models th {
    font-size: 18px;
}

#models td {
    font-size: 16px;
    color: #a9b1b0;
}

/* FAQ Section */
#faq ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#faq li {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

#faq strong {
    color: #3498db;
}

/* Start Creating Button */
#start-creating #get-started-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 20px auto;
}

#start-creating #get-started-btn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}


/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}













/* Small Mobile View (Up to 480px) */
@media (max-width: 480px) {
    .pricing {
        padding: 0 10px;
    }

    .pricing h1 {
        font-size: 20px;
    }

    /* Contact Sales Button */
    #contact-sales-btn {        
        margin: 0 auto 10px;        
    }


    #pricing-section h2 {        
        font-size: 1.2em;     
    }

    .pricing p {
        font-size: 12px;   
        margin-bottom: 10px;
    }


    #contact-sales-btn {
        font-size: 12px;
        padding: 10px 10px;
    }

    #models th, #models td {
        font-size: 12px;
        padding: 10px;
    }

    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-content h2 {
        font-size: 15px;
    }

    .modal-content p {
        font-size: 16px;
    }

     /* FAQ Section */
    #faq ul {
        padding-left: 20px;
    }

    #faq li {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #faq strong {
        font-size: 14px;
    }

    /* Start Creating Button */
    #start-creating #get-started-btn {
        padding: 10px 20px;
        font-size: 14px;
        
    }
    

}

/* Mobile View (481px - 768px) */
@media (max-width: 768px) and (min-width: 481px) {
    .pricing {
        padding: 0 10px;
    }

    .pricing h1 {
        font-size: 22px;
    }

    /* Contact Sales Button */
    #contact-sales-btn {        
        margin: 0 auto 10px;        
    }


    #pricing-section h2 {        
        font-size: 1.2em;     
    }

    .pricing p {
        font-size: 12px;   
        margin-bottom: 10px;
    }


    #contact-sales-btn {
        font-size: 12px;
        padding: 10px 10px;
    }

    #models th, #models td {
        font-size: 12px;
        padding: 10px;
    }

    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-content h2 {
        font-size: 15px;
    }

    .modal-content p {
        font-size: 16px;
    }

     /* FAQ Section */
    #faq ul {
        padding-left: 20px;
    }

    #faq li {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #faq strong {
        font-size: 14px;
    }

    /* Start Creating Button */
    #start-creating #get-started-btn {
        padding: 10px 20px;
        font-size: 14px;
        
    }
    
}

/* Tablet View (769px - 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
    .pricing {
        padding: 0 10px;
    }

    .pricing h1 {
        font-size: 24px;
    }

    /* Contact Sales Button */
    #contact-sales-btn {        
        margin: 0 auto 10px;        
    }


    #pricing-section h2 {        
        font-size: 1.3em;     
    }

    .pricing p {
        font-size: 14px;   
        margin-bottom: 10px;
    }


    #contact-sales-btn {
        font-size: 14px;
        padding: 10px 10px;
    }

    #models th, #models td {
        font-size: 12px;
        padding: 10px;
    }

    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-content h2 {
        font-size: 15px;
    }

    .modal-content p {
        font-size: 16px;
    }

     /* FAQ Section */
    #faq ul {
        padding-left: 20px;
    }

    #faq li {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #faq strong {
        font-size: 14px;
    }

    /* Start Creating Button */
    #start-creating #get-started-btn {
        padding: 10px 20px;
        font-size: 14px;
        
    }
}

/* Small Desktop View (1025px - 1199px) */
@media (max-width: 1199px) and (min-width: 1025px) {
    .pricing {
        padding: 0 10px;
    }

    .pricing h1 {
        font-size: 26px;
    }

    /* Contact Sales Button */
    #contact-sales-btn {        
        margin: 0 auto 10px;        
    }


    #pricing-section h2 {        
        font-size: 1.4em;     
    }

    .pricing p {
        font-size: 14px;   
        margin-bottom: 10px;
    }


    #contact-sales-btn {
        font-size: 14px;
        padding: 10px 10px;
    }

    #models th, #models td {
        font-size: 12px;
        padding: 10px;
    }

    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-content h2 {
        font-size: 15px;
    }

    .modal-content p {
        font-size: 16px;
    }

     /* FAQ Section */
    #faq ul {
        padding-left: 20px;
    }

    #faq li {
        font-size: 14px;
        margin-bottom: 10px;
    }

    #faq strong {
        font-size: 16px;
    }

    /* Start Creating Button */
    #start-creating #get-started-btn {
        padding: 10px 20px;
        font-size: 14px;
        
    }
}

/* Large Desktop View (1200px and above) */
@media (min-width: 1200px) {
    .pricing {
        padding: 0 10px;
    }

    .pricing h1 {
        font-size: 28px;
    }

    /* Contact Sales Button */
    #contact-sales-btn {        
        margin: 0 auto 10px;        
    }


    #pricing-section h2 {        
        font-size: 1.5em;     
    }

    .pricing p {
        font-size: 14px;   
        margin-bottom: 10px;
    }


    #contact-sales-btn {
        font-size: 15px;
        padding: 10px 10px;
    }

    #models th, #models td {
        font-size: 14px;
        padding: 10px;
    }

    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-content h2 {
        font-size: 15px;
    }

    .modal-content p {
        font-size: 16px;
    }

     /* FAQ Section */
    #faq ul {
        padding-left: 20px;
    }

    #faq li {
        font-size: 14px;
        margin-bottom: 10px;
    }

    #faq strong {
        font-size: 16px;
    }

    /* Start Creating Button */
    #start-creating #get-started-btn {
        padding: 10px 20px;
        font-size: 14px;
        
    }
}
